.page-content {
  h1,
  h2,
  h3,
  h4 {
    color: @gray-light;
    font-weight: lighter;
  }
}

h1.page-title {
  color: @gray;
  margin-top: 0;
  padding-bottom: @grid-gutter-width * .5;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @grid-gutter-width;// * .5;
}
