body {
  .font-regular;
}

h1,
h2,
h3,
h4 {
  .font-light;
}

h3 {
  text-transform: uppercase;
}

dt,
label,
legend {
  .font-regular;
}

@import (inline) "prismjs/themes/prism.css";

.page-content {
  h1,
  h2,
  h3,
  h4 {
    color: @gray-light;
  }

  h2 {
    margin-top: @padding-base-vertical * 6;
  }
  h3 {
    margin-top: @padding-base-vertical * 5;
  }
  h4 {
    margin-top: @padding-base-vertical * 4;
  }

  p {
    margin: (@padding-base-vertical * 2) 0;
  }

  figure.image > img,
  p > img {
    margin: auto;
    max-width: 100%;
    display: block;
  }

  figure.image {
    padding: @grid-gutter-width * 0.5;
    box-shadow: 0 0 3px 2px fade(@gray-light, 55) inset;
    background-color: @gray-lighter;
  }


  .menu-pages {
    border-top: 1px dotted @gray-lighter;
    padding-top: @grid-gutter-width * .5;
    margin-top: @grid-gutter-width * .5;
  }
}


.note {
  padding: @padding-base-vertical @padding-base-horizontal;
  > h3 {
    margin-top: @padding-base-vertical;
  }
}


.content-header {
  position: relative;
}

.edit-on-github {
  position: absolute;
  top: 3px;
  right: 0;
}

h1.page-title {
  color: @gray;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray-light;
  margin-bottom: @grid-gutter-width * .5;
  margin-top: @grid-gutter-width * 1.5;
}


dt {
  font-size: 16px;
}
dd {
  margin: 0.5em 0 1em 2em;
}


.gs-download-step-panel {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.218s ease, padding 0.218s ease;
  }

  .toggle-instructions {
    cursor: pointer;
  }

  &.open .panel-body {
    padding-top: @grid-gutter-width * 0.5;
    padding-bottom: @grid-gutter-width * 0.5;
    max-height: 500px;
  }
}
