.site-menu {
  background-color: @gray-lighter;
  padding-left: 0;
  padding-right: 0;

  a {
    &:link {
      color: @link-color;
    }
    &:active {
      color: @gray;
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }
  > ul {
    overflow: auto;
    max-height: 100%;
    padding-top: 24px;
  }

  li {
    position: relative;
    padding-left: 1em;
    display: none;
    &.open > ul > li {
      display: block;
    }
    // &:first-child {
    //   padding-top: 0;
    // }

    &.open > ul {
      margin-top: 0.3em;
      &:first-child {
        margin-top: 0;
      }

    }
  }

  ul ul li {
    padding-left: 1em;
    margin-bottom: 0.3em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .meta,
  > ul > li {
    padding: @navbar-padding-vertical (@grid-gutter-width * .5);
  }

  .meta {
    background-color: @brand-primary;
    color: #fff;
  }


  > ul > li {
    // padding: @navbar-padding-vertical (@grid-gutter-width * .5);
    border-bottom: 1px solid #fff;
    display: block;

    > a {
      font-size: 18px;
      font-weight: lighter;
      color: @brand-primary;
    }

    &.open {
      > a {
        color: @gray;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    > ul > li {
      padding-left: 1em;
    }
  }

  .submenu-toggle {
    cursor: pointer;
    position: absolute;

    vertical-align: middle;
    line-height: 16px;
    height: 16px;
    top: 0;

    right: 100%;
    margin-right: -14px;
    width: 16px;

    &:before {
      display: inline-block;
      height: 16px;
      width: 16px;
      text-align: center;
      vertical-align: middle;

      content: '+';
    }
    &.open {
      &:before {
        content: '-';
      }
    }
  }

  > ul > li > .submenu-toggle {
    line-height: 18px;
    height: 18px;
    top: 10px;
  }
}

.site-menu-toggle {
  display: none;
  background: none;
  border: none;
  line-height: @navbar-height;
  vertical-align: middle;
  width: 26px;
  padding: 2px 5px;
  margin-top: 1px;
  border: 1px solid transparent;

  margin-left: -5px;

  .transition(border-color 0.218s linear);
  .transition(background-color 0.218s linear);

  > span {
    display: block;
    height: 2px;
    background: @gray;
    margin-bottom: 3px;
    .transition(background-color 0.218s linear);
    &:first-child {
      margin-top: 3px;
    }
  }
  &:hover {
    border: 1px solid @gray-lighter;
    background-color: #fff;
    > span {
      background-color: @brand-primary;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .site-menu-toggle {
    display: inline-block;
  }

  .site-menu {
    background-color: fade(@gray-lighter, 95);
    // background-color: @navbar-default-bg;
    // border-right: 1px solid @navbar-default-border;
  }
}

