.navbar-fixed-top {
  padding: 0;
  background-color: @body-bg;
  border-bottom: 5px solid @brand-primary;
}


.navbar-container {
  width: 100%;
  height: @header-computed-height;
  color: @navbar-default-color;
  background-color: @navbar-default-bg;
  font-size: @navbar-font-size;

  max-width: @page-toc-breakpoint;
  @media (min-width: (@site-menu-breakpoint + 1px)) and (max-width: 1065px) {
    padding-right: (@grid-gutter-width * 1.5);
  }
  @media (min-width: 1065px) and (max-width: @page-toc-breakpoint) {
    max-width: 1005px;
  }

  a {
    color: @navbar-default-link-color;
    &:hover,
    &:focus {
      color: @navbar-default-link-hover-color;
    }
  }

  > div,
  > ul {
    padding: 0;
    height: @header-computed-height;
    line-height: @header-computed-height;
  }

  .navbar-header {
    float: left;
  }

  .push-right {
    float: right;
    > * {
      float: left;
    }
  }

  .brand-name {
    font-size: 20px;
    position: relative;
    bottom: 2px;
  }

  .search-field {
    padding-right: (@grid-gutter-width * 0.5);
  }

  ul {
    list-style: none;
    margin: 0;
  }


  li {
    margin: 0;
    padding: 0;
    float: left;
  }

  .navbar-text {
    margin: 0;
    vertical-align: middle;
    height: @header-computed-height;
    padding-left: 2.5px;

    a,
    a span {
      height: @header-computed-height;
      vertical-align: middle;
      text-decoration: none;
    }

    a {
      display: inline-block;
      height: @header-computed-height;
      line-height: @header-computed-height;
      padding-left: (@grid-gutter-width * 0.25);
      padding-right: (@grid-gutter-width * 0.25);
    }

    &:hover {
      background-color: @gray-lighter;
    }

    button {
      vertical-align: middle;
    }

    .icon {
      position: relative;
      font-size: 22px;
      top: -2px;
    }
  }

  .main-menu {
    overflow: hidden;
    padding: 0;
    a {
      display: inline-block;
      padding: 0 @padding-base-horizontal;
      @media (max-width: @site-menu-breakpoint) {
        padding: 0 6px;
      }
    }

    li {
      &:hover,
      &.active {
        a {
          background-color: @navbar-default-link-active-bg;
        }
      }
    }
  }
}



.site-menu-toggle {
  .hamburger-button();
  margin-right: 10px;//(@grid-gutter-width * 0.5);
  display: none;
  height: @header-computed-height;

  @media (max-width: 710px) {
    &.show-small {
      display: inline-block;
      float: right;
    }
  }

  @media (min-width: (710 + 1px)) and (max-width: @site-menu-breakpoint) {
    &.show-medium {
      display: inline-block;
    }
  }
}

body.site-menu-open .site-menu-toggle {
  .hamburger-button-open();
}

@media (max-width: 710px) {
  .brand-name {
    display: none;
  }

  .navbar {
    .search-field {
      width: 100%;
      padding: 0 (@grid-gutter-width * 0.5);
      border-top: 1px solid @header-border-bottom-color;
    }
    .push-right {
      float: none;
      width: 100%;
    }
    .main-menu {
      float: right;
      padding: 0 (@grid-gutter-width * 0.5);

      li {
        display: inline-block;
        &:first-of-type {
          margin-left: 0 - @padding-base-horizontal;
        }
        &:last-of-type {
          margin-right: 0 - @padding-base-horizontal;
        }
      }
    }
  }


  .page-wrapper,
  .site-menu,
  .search-results {
    top: (2 * @navbar-height) - (@header-border-bottom-width - 1px);
  }
}
