.navbar-fixed-top {
  padding: 0;
  background-color: @brand-primary;
  color: #fff;

  a {
    color: #fff;
  }
}


.navbar-container {
  width: 100%;
  height: @navbar-height;
  max-width: @page-toc-breakpoint;

  > div,
  > ul {
    padding: 0;
    height: @navbar-height;
    line-height: @navbar-height;
  }

  .navbar-header,
  .main-menu {
    float: left;
  }

  .brand-name {
    position: relative;
    bottom: 2px;
  }

  .search-field {
    float: right;
    padding-right: (@grid-gutter-width * 0.5);
  }

  ul {
    list-style: none;
    margin: 0;
  }


  li {
    margin: 0;
    padding: 0;
    float: left;
  }

  .navbar-text {
    margin: 0 (@grid-gutter-width * 0.5) 0 0;
    vertical-align: middle;
    height: @navbar-height;

    a,
    a span {
      height: @navbar-height;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      height: @navbar-height;
      line-height: @navbar-height;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    button {
      vertical-align: middle;
    }

    .icon {
      position: relative;
      font-size: 22px;
      top: -2px;
    }
  }

  .main-menu {
    a {
      display: inline-block;
      padding: 0 (@grid-gutter-width * 0.5);
    }

    li {
      border-left: 1px solid @body-bg;

      &:hover,
      &.active {
        a {
          text-decoration: underline;
          background-color: darken(@brand-primary, 10%);
        }
      }

      &:first-of-type {
        border: none;
      }
    }
  }
}



.site-menu-toggle {
  display: none;
  background: none;

  width: 26px;
  padding: 2px 5px;
  margin-left: 10px;

  border: 1px solid transparent;

  transition: border-color 0.218s linear,
              background-color 0.218s linear;

  > span {
    display: block;
    height: 2px;
    margin-bottom: 3px;
    background: #fff;
    transition: background-color 0.218s linear;

    &:first-child {
      margin-top: 3px;
    }
  }
  &:hover {
    border: 1px solid @gray-lighter;
    background-color: #fff;
    > span {
      background-color: @brand-primary;
    }
  }

  @media (max-width: @site-menu-breakpoint) {
    display: inline-block;
  }
}

@media (max-width: 710px) {
  .brand-name {
    display: none;
  }
}

@media (max-width: 590px) {
  .navbar .search-field {
    width: 100%;
    padding: 0 (@grid-gutter-width * 0.5);
    border-top: 1px solid mix(@brand-primary, @gray-lighter);
  }

  .page-wrapper,
  .site-menu,
  .search-results {
    top: (2 * @navbar-height);
  }
}
