.navbar-fixed-top {
  padding: 0 (@grid-gutter-width * 0.5);
}

.navbar-header {
  width: 100%;

  .list-inline {
    margin-bottom: 0;
    float: right;

    a {
      display: inline-block;
      color: @brand-primary;
      // line-height: @navbar-height;
      font-size: 16px;
      margin-top: 14px;
      font-weight: 100;
    }

    li {
      height: @navbar-height;
      padding: 0 (@grid-gutter-width * .5);
      float: left;
      border-right: 1px solid @gray-lighter;
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}


.navbar-text {
  float: left;
  margin: 0;
  a {
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-indent: -99em;
    width: 156px;
    height: 40px;
    background: url(../img/logo.png) -8px no-repeat;
  }
  @media (max-width: @site-menu-breakpoint) {
    a {
      width: 76px;
    }
  }
}

.navbar {
  margin-bottom: 0;
}
