.page-toc {
  font-size: 14px;
  line-height: 20px;

  > h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 14px;
  }

  a {
    .navbar-a();
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    overflow: hidden;
    list-style: none;
    .transition(max-height 1s linear);
  }

  ul ul {
    margin-top: 0.3em;
    &:first-child {
      margin-top: 0;
    }
  }

  li {
    padding: 0;
    margin-bottom: (@padding-base-vertical * 1);

    position: relative;
    z-index: 10;
    > a {
      display: block;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent;
        width: 3px;
        border: none;
        z-index: 9;
      }
      &:before {
        right: auto;
        left: 0;
      }
      &:after {
        right: 0;
        left: auto;
      }

      &:hover,
      &:focus {
        &:before,
        &:after {
          background-color: @navbar-default-link-hover-bg;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    > ul {
      max-height: 0;
    }

    &.active-trail,
    &.open {
      > ul {
        max-height: 100vh;
      }
    }

    &.open {
      > a,
      > a:hover,
      > a:focus {
        &:before,
        &:after {
          background-color: @navbar-default-link-active-bg;
        }
      }
    }
  }

  nav {
    li {
      a {
        padding-left: (@padding-base-horizontal * 1);
      }
      li {
        a {
          padding-left: (@padding-base-horizontal * 2);
        }
        li {
          a {
            padding-left: (@padding-base-horizontal * 3);
          }
          li {
            a {
              padding-left: (@padding-base-horizontal * 4);
            }
          }
        }
      }
    }
  }
}

.docs-banner {
  margin-top: 29px;
}
