html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: @footer-height;
}

.page-wrapper {
  padding-top: @header-height + @grid-gutter-width;
  padding-bottom: @grid-gutter-width;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background: @navbar-default-bg;
  border-top: 1px solid @navbar-default-border;
  padding-top: @grid-gutter-width * 0.5;
  padding-bottom: @grid-gutter-width * 0.5;
  font-size: 90%;
}
