// .absolute() {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: 0;
//   padding: 0;
// }
// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   .absolute();
//   // margin-bottom: @footer-height;
// }

// .page-wrapper {
//   .absolute();
//   padding-top: @header-height;
//   padding-bottom: @footer-height;

//   .container-fluid {
//       .absolute();
//       > .row {
//         .absolute();
//         > div {
//           padding-top: @grid-gutter-width;
//           padding-bottom: @grid-gutter-width;
//         }
//       }
//     }
// }

.page-footer {
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  height: @footer-height;
  background: @navbar-default-bg;
  border-top: 1px solid @navbar-default-border;
  padding-top: @grid-gutter-width * 0.5;
  padding-bottom: @grid-gutter-width * 0.5;
  font-size: 90%;
}
