@commons-ui-less-path: "camunda-commons-ui/resources/less";
@bootstrap-less-path: "camunda-commons-ui/node_modules/bootstrap/less";

@import ~"@{commons-ui-less-path}/common-variables";

@footer-height: 100px;
