@commons-ui-less-path: "camunda-commons-ui/resources/less";
@bootstrap-less-path: "camunda-commons-ui/node_modules/bootstrap/less";

@import ~"@{commons-ui-less-path}/common-variables";


@site-menu-width: 240px;
@site-menu-meta-closed-height: 36px;
@site-menu-breakpoint: @screen-xs-max;

@page-content-max-width: 650px;
@page-toc-width: 240px;


@footer-height: 100px;
